
.App-logo {
    height: 28px;
    margin-left: 20px;
    margin-bottom: 10px;
}


.App-header {
    display: flex;
    align-items: center;
    height: 200px;
    width: 100vw;
    color:darkred;
    background-color: #00305C;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    //margin: 0px;
}

